name: Doxygen GitHub Pages Deploy Action

on:
  push:
    branches:
      - main
      - develop

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: Generate html path
        shell: bash
        run: mkdir docs/html -p

      - uses: DenverCoder1/doxygen-github-pages-action@v1.2.0
        with:
          github_token: ${{ secrets.ACCESS_TOKEN }}